.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav{
  display: none;
}

.nav-mobile{
  display: flex;
}

.hide {
  display:  none;
}
.show{
  display: ;
}

@media  screen and (min-width: 768px) {
  .nav{
    display: inline-flex;
  }
  .nav-mobile{
    display: none; 

  }
}

.bg-hero{
  background-position: right;
  background-size: auto;
  background-repeat: no-repeat;
  height: 50vw;
}

@media screen and (max-width: 750px) {
  .bg-hero{
    background-position: center;
  }
}

.bg-about{
  background-position: center;
  /* background-position-x: left;
  background-position-y: bottom; */

  background-size: auto;
  background-repeat: no-repeat;
  
}